@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Jersey+15&family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  height: 100vh;
  width: 100vw;
  background: #1a1a2e;
}

:root {
  --bg-darkest: #0d0d0d;
  --bg-primary: #1a1a2e;
  --bg-secondary: #16213e;
  --bg-accent-dark: #0f3460;
  --glow-primary: #ff00ff;
  --glow-secondary: #00f7ff;
  --glow-accent-warm: #ff9900;
  --glow-accent-cool: #8a2be2;
  --primary-font-color: #fff;
  --secondary-font-color: #000;
  --light-color-text: #626262;
  --highlight-element: rgb(0, 219, 0);
  --shade-primary-color: rgb(242, 232, 255);
  --wireframe-color: #1a1a2e;
  --wireframe-shade: #16213e;


  --bg-color: #fff;
  --primary-color: rgb(240, 253, 252);
  --secondary-color: rgb(26, 106, 255);
  --main-element-color: #222;
  --accent-details: #ff684e;
}

[data-theme="dark"] {
  --bg-color: #222;
  --primary-color: #2b2b2b;
  --shade-primary-color: #3c3c3c;
  --secondary-color: rgb(60, 128, 255);
  --main-element-color: #fff;
  --light-color-text: #b3b3b3;
  --accent-details: #ff684e;
  --highlight-element: rgb(0, 255, 0);
  --wireframe-color: #444;
  --wireframe-shade: #bababa;
}