.catelogs {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 30px 50px;
    background: transparent;
}

.catelogs h1 {
    font-weight: 400;
    color: var(--glow-primary);
    text-shadow: 0 0 10px var(--glow-primary);
    font-family: 'Alatsi', sans-serif;
}

.catelogs .catelog-aligner {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 80px;
    padding: 0 10px;
    row-gap: 80px;
}

.catelog-loading {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 30px 50px;
    background: transparent;
}

.no-search-result-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-font-color);
    font-size: 1.2rem;
}

.wireframe-container {
    width: 100%;
    background: transparent;
}

.wireframe-header {
    height: 40px;
    width: 200px;
    background: linear-gradient(90deg, rgba(15, 52, 96, 0.3) 25%, rgba(106, 90, 205, 0.3) 50%, rgba(15, 52, 96, 0.3) 75%);
    -webkit-background-size: 400% 100%;
    background-size: 400% 100%;
    margin-bottom: 30px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(41, 39, 39, 0.2);
    -webkit-animation: shimmer 1.5s infinite linear;
    animation: shimmer 1.5s infinite linear;
}

.wireframe-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 80px;
    padding: 0 10px;
    row-gap: 80px;
}

.wireframe-card {
    position: relative;
    height: 400px;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background: var(--bg-primary);
    box-shadow: 0 0 10px rgba(41, 39, 39, 0.2);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    overflow: hidden;
}

.wireframe-image {
    width: 100%;
    height: 60%;
    background: linear-gradient(90deg, rgba(15, 52, 96, 0.4) 25%, rgba(106, 90, 205, 0.4) 50%, rgba(15, 52, 96, 0.4) 75%);
    -webkit-background-size: 400% 100%;
    background-size: 400% 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
    -webkit-animation: shimmer 1.5s infinite linear;
    animation: shimmer 1.5s infinite linear;
}

.wireframe-details {
    width: 100%;
    height: 40%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.wireframe-title {
    height: 30px;
    width: 80%;
    background: linear-gradient(90deg, rgba(15, 52, 96, 0.3) 25%, rgba(106, 90, 205, 0.3) 50%, rgba(15, 52, 96, 0.3) 75%);
    -webkit-background-size: 400% 100%;
    background-size: 400% 100%;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    -webkit-animation: shimmer 1.5s infinite linear;
    animation: shimmer 1.5s infinite linear;
}

.wireframe-location {
    height: 15px;
    width: 60%;
    background: linear-gradient(90deg, rgba(15, 52, 96, 0.3) 25%, rgba(106, 90, 205, 0.3) 50%, rgba(15, 52, 96, 0.3) 75%);
    -webkit-background-size: 400% 100%;
    background-size: 400% 100%;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    -webkit-animation: shimmer 1.5s infinite linear;
    animation: shimmer 1.5s infinite linear;
}

.wireframe-price {
    height: 20px;
    width: 40%;
    background: linear-gradient(90deg, rgba(15, 52, 96, 0.3) 25%, rgba(106, 90, 205, 0.3) 50%, rgba(15, 52, 96, 0.3) 75%);
    -webkit-background-size: 400% 100%;
    background-size: 400% 100%;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    -webkit-animation: shimmer 1.5s infinite linear;
    animation: shimmer 1.5s infinite linear;
}

.wireframe-ratings {
    height: 20px;
    width: 50%;
    background: linear-gradient(90deg, rgba(15, 52, 96, 0.3) 25%, rgba(106, 90, 205, 0.3) 50%, rgba(15, 52, 96, 0.3) 75%);
    -webkit-background-size: 400% 100%;
    background-size: 400% 100%;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    -webkit-animation: shimmer 1.5s infinite linear;
    animation: shimmer 1.5s infinite linear;
}

.wireframe-button {
    width: 50%;
    height: 45px;
    background: linear-gradient(90deg, rgba(15, 52, 96, 0.3) 25%, rgba(106, 90, 205, 0.3) 50%, rgba(15, 52, 96, 0.3) 75%);
    -webkit-background-size: 400% 100%;
    background-size: 400% 100%;
    border-radius: 10px;
    align-self: flex-end;
    position: relative;
    overflow: hidden;
    -webkit-animation: shimmer 1.5s infinite linear;
    animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}

/* Responsive Styles */
@media only screen and (max-width: 575px) {
    .catelogs {
        padding: 60px 10px 60px 10px;
    }

    .catelogs .catelog-aligner {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0 20px;
        column-gap: 10px;
    }

    .catelog-loading {
        padding: 60px 10px 60px 10px;
    }

    .wireframe-grid {
        grid-template-columns: 1fr;
        column-gap: 10px;
    }

    .wireframe-card {
        height: 390px;
    }
}

@media (min-width: 575px) and (max-width: 768px) {
    .catelogs {
        padding: 20px;
    }

    .catelogs .catelog-aligner {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }

    .catelog-loading {
        padding: 60px;
    }

    .wireframe-grid {
        grid-template-columns: 1fr;
        column-gap: 10px;
    }

    .wireframe-card {
        height: 450px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .catelogs {
        padding: 60px 30px 60px 30px;
    }

    .catelogs .catelog-aligner {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
    }

    .catelog-loading {
        padding: 60px 30px 60px 30px;
    }

    .wireframe-grid {
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
    }

    .wireframe-card {
        height: 400px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .catelogs {
        padding: 30px 10px;
    }

    .catelogs .catelog-aligner {
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 50px;
    }

    .catelog-loading {
        padding: 30px 50px;
    }

    .wireframe-grid {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 50px;
    }

    .wireframe-card {
        height: 450px;
    }
}