.signin-contain {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  padding: 30px;
  background: transparent;
  color: var(--primary-font-color);
  font-weight: 300;
}

.signin-contain form {
  position: relative;
  height: 100%;
  background: transparent;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  z-index: 10;
}

.signin-contain form h1 {
  font-weight: 100;
  text-transform: uppercase;
  color: var(--primary-font-color);
}

.signin-contain p span {
  color: var(--glow-accent-warm);
  font-size: 1.2rem;
  text-transform: capitalize;
  cursor: pointer;
}

.signin-contain p span:hover {
  color: var(--glow-accent-cool);
}

.signin-contain .signin-banner {
  position: relative;
  height: 100%;
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}

form .back-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 0 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  transition: 0.2s;
  color: white;
}

/*! input area  */

.input-area {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.input {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.input .label {
  position: absolute;
  top: 20px;
  left: 5px;
  font-size: 16px;
  color: var(--primary-font-color);
  transition: all 0.3s ease;
}

.input input {
  height: 60px;
  background: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  padding: 5px;
  color: var(--primary-font-color);
  padding-right: 30px;
}

.eye-container {
  position: absolute;
  right: 0;
  top: 20px;
}

.eye-container svg {
  fill: var(--primary-font-color);
  cursor: pointer;
}

.input-area .input .bottom-border {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-font-color);
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform-origin: left;
  transition: 1s;
}

/* Hover effect on the input field */
.input:hover .label {
  top: 0;
  font-size: 14px;
  opacity: 0.5;
}

.input:hover .bottom-border {
  transition: 1s;
  box-shadow: inset 400px 0px 0 0 var(--glow-accent-warm);
}

/* Focus effect to keep the label at the top */
.input input:focus+.bottom-border {
  transition: 1s;
  box-shadow: inset 400px 0px 0 0 var(--glow-accent-warm);
}

.input input:focus~.label {
  top: 0;
  font-size: 14px;
  opacity: 0.5;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-password-suggestion-button {
  display: none;
}

/* Disable hover effect when input has value or is focused */
.input.focused .label,
.input.focused:hover .label {
  top: 0;
  font-size: 14px;
  opacity: 0.5;
}

.input.focused .bottom-border,
.input.focused:hover .bottom-border {
  background-color: var(--glow-accent-warm);
  transform: scaleX(1);
}

.forgot {
  color: var(--glow-accent-warm);
  cursor: pointer;
  align-self: flex-start;
  margin-left: 25%;
}

.forgot:hover {
  color: var(--glow-accent-cool);
}

.submit-container {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.submit {
  position: relative;
  width: 50%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  text-transform: capitalize;
  transition: 0.5s;
  background: var(--primary-font-color);
  color: black;
}

.submit:hover {
  transition: 0.5s;
  transform: scale(110%);
}

.submit:after {
  position: absolute;
  background: rgba(0, 0, 0, 0.24);
  content: " ";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 10;
}

.submit::before {
  position: absolute;
  background: rgba(0, 0, 0, 0.24);
  content: " ";
  height: 155px;
  right: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 10;
}

.submit:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.submit:hover:before {
  right: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.google {
  width: 50%;
  height: 40px;
  border-radius: 10px;
  border: 2px solid var(--primary-font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-transform: capitalize;
  transition: 0.5s;
  cursor: pointer;
}

.google:hover {
  transition: 0.5s;
  transform: scale(110%);
}


/*! Extra Small Devices (Portrait Phones) */
@media only screen and (max-width: 575px) {

  .signin-contain {
    grid-template-columns: 1fr;
    padding: 0px; 
  }

  .signin-banner {
    display: none;
  }

  .signin-contain form {
    justify-content: center;
    border-radius: 0;
    background: transparent;
    gap: 50px;
  }

  .input {
    width: 80%;
  }

  .forgot {
    margin-left: 10%;
    cursor: none;
  }

  .submit {
    width: 80%;
    cursor: none;
  }

  .google {
    width: 80%;
    cursor: none;
  }

  .signin-contain p span {
    cursor: none;
  }

  form .back-btn {
    cursor: none;
  }

  .eye-container svg {
    cursor: none;
  }

}

/*! Small devices (phones, 576px and up) */
@media (min-width: 575px) and (max-width: 768px) {

  .signin-contain {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .signin-banner {
    display: none;
  }

  .signin-contain form {
    justify-content: center;
    gap: 50px;
  }

  .input {
    width: 80%;
  }

  .forgot {
    margin-left: 10%;
    cursor: none;
  }

  .submit {
    width: 80%;
    cursor: none;
  }

  .google {
    width: 80%;
    cursor: none;
  }

  .signin-contain p span {
    cursor: none;
  }

  form .back-btn {
    cursor: none;
  }

  .eye-container svg {
    cursor: none;
  }

}

/*! Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {

  .signin-contain {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .signin-banner {
    display: none;
  }

  .signin-contain form {
    justify-content: center;
    gap: 50px;
  }

  .input {
    width: 50%;
  }

  .submit {
    width: 50%;
    cursor: none;
  }

  .google {
    width: 50%;
    cursor: none;
  }

  .forgot {
    cursor: none;
  }

  .signin-contain p span {
    cursor: none;
  }

  form .back-btn {
    cursor: none;
  }

  .eye-container svg {
    cursor: none;
  }

}

/*! Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {

  .signin-contain form {
    justify-content: center;
    gap: 50px;
  }

  .input {
    width: 60%;
  }

  .submit {
    width: 60%;
  }

  .google {
    width: 60%;
  }

}