.catelog-card {
    position: relative;
    height: 490px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.19);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    overflow: hidden;
}

.spinner {
    width: 20px;
    height: 20px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.catelog-img {
    position: relative;
    width: 100%;
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
}

.catelog-details {
    position: relative;
    width: 100%;
    height: 40%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    word-break: break-all;
}

.heading {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    container-type: inline-size;
}

.heading h1 {
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: clamp(1.6rem, 4cqi, 2.5rem);
}

.heading section {
    width: 100%;
    display: flex;
    gap: 10px;
    text-transform: capitalize;
    container-type: inline-size;
}

.heading section p {
    font-size: clamp(1rem, 3cqi, 1.2rem);
}

.catelog-details .price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.catelog-details .price section {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.catelog-details .price section {
    font-size: 1.2rem;
    margin-top: 20px;
}

.price .mrp {
    color: #888;
    text-decoration: line-through;
}

.add-to-cart {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-to-cart button {
    width: 50%;
    height: 45px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
    background: #222;
    cursor: pointer;
}

.add-to-cart button:hover {
    background: #222222d1;
}

.heart-contain {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.heart-contain svg {
    fill: white;
}

.star-ratings {
    width: 100%;
    height: auto;
    bottom: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.star-ratings span {
    font-size: 1.8rem;
    color: rgb(255, 208, 19);
}

.star-ratings .star {
    font-size: 1.5rem;
    color: #d8d8d8;
}

.star-ratings .filled {
    color: rgb(255, 208, 19);
}

.star-ratings .half-filled {
    color: rgb(255, 208, 19);
    background: linear-gradient(to right, #FFD700 50%, #d8d8d8 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*! Extra Small Devices (Portrait Phones) */
@media only screen and (max-width: 575px) {

    .catelog-card {
        height: 390px;
    }

    .heart-contain {
        cursor: none;
    }

    .star-ratings span {
        font-size: 1.5rem;
    }

    .star-ratings .star {
        font-size: 1.2rem;
    }

    .catelog-details .left {
        font-size: small;
    }

}

/*! Small devices (phones, 576px and up) */
@media (min-width: 575px) and (max-width: 768px) {

    .catelog-card {
        height: 350px;
    }

    .heart-contain {
        cursor: none;
    }

    .catelog-details p {
        font-size: small;
    }

    .star-ratings {
        gap: 10px;
    }

    .star-ratings span {
        font-size: 1.5rem;
    }

    .star-ratings .star {
        font-size: 1.3rem;
    }

    .add-to-cart button{
        cursor: none;
    }

}

/*! Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {

    .catelog-card {
        height: 350px;
    }

    .heart-contain {
        cursor: none;
    }

    .add-to-cart button{
        cursor: none;
    }

}

/*! Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    .catelog-card {
        height: 350px;
    }

}