
.category-card-contain{
    flex-shrink: 0;
    width: 10%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #666;
    border-radius: 5px;
    color: white;
    transition: 0.5s;
}

.category-card-contain:hover{
    transition: 0.5s;
    transform: scale(1.1);
}